.paq-link-18 {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition-duration: 0.8s;

  &:hover {
    cursor: pointer;
    color: #AEEA00;
    font-size: 25px;
    transition-duration: 0.4s;
  }
}

.btn {
  margin-left: 8px;
  background-color: #AEEA00;
  border: none;
  font-size: 25px;
  border-radius: 2px;
  transition-duration: 0.8s;

  &:hover {
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    transition-duration: 0.4s;
  }
}
