@use "list";

:root {
  --color-white: #fff;
  --color-purple: #7852A9;
  --color-dark: #121212;
  --color-green-electric: #AEEA00;

  --color-emeraude: #007473;
  --color-emeraude-dark: #004B45;
  --color-beige: #F1EEDA;
  --color-jaune: #E2B64C;
  --color-orange: #B87231;
  --color-rouge: #BE462D;
}

// bg
.u-bg-dark {
  background-color: var(--color-dark);
}

// size
.u-max-width-300 {
  max-width: 300px;
}
.u-max-width-400 {
  max-width: 400px;
}
.u-max-height-300 {
  max-height: 300px;
}
.u-full-size {
  width: 100%;
  height: 100%;
}
.u-has-full-width {
  width: 100%;
}
.u-full-height {
  height: 100%;
}

// position
.u-is-fixed {
  position: fixed;
}

// flex
.u-is-flex {
  display: flex;
}
.u-flex-column {
  flex-direction: column;
}
.u-flex-center {
  align-items: center;
  justify-content: center;
}
.u-flex-align-center-justify-space-between {
  align-items: center;
  justify-content: space-between;
}


// text
.u-txt-white {
  color: var(--color-white);
}
.u-txt-purple {
  color: var(--color-purple);
}
.u-txt-green {
  color: var(--color-green-electric);
}

.u-is-txt-48 {
  font-size: 48px;
}
.u-is-txt-20 {
  font-size: 20px;
}

// padding / margin
.u-has-padding-top-8 {
  padding-top: 8px;
}
.u-has-padding-top-16 {
  padding-top: 16px;
}
.u-has-padding-top-48 {
  padding-top: 48px;
}


.u-has-padding-bottom-8 {
  padding-bottom: 8px;
}
.u-has-padding-bottom-16 {
  padding-bottom: 16px;
}
.u-has-padding-bottom-48 {
  padding-bottom: 48px;
}
.u-has-padding-top-96 {
  padding-top: 96px;
}


.u-has-margin-top-8 {
  margin-top: 8px;
}
.u-has-margin-top-16 {
  margin-top: 16px;
}
.u-has-margin-top-48 {
  margin-top: 48px;
}
.u-has-margin-top-96 {
  margin-top: 96px;
}


.u-has-margin-bottom-8 {
  margin-bottom: 8px;
}
.u-has-margin-bottom-16 {
  margin-bottom: 16px;
}
.u-has-margin-bottom-48 {
  margin-bottom: 48px;
}
