<div
  class="u-is-flex u-flex-center u-has-padding-top-144">

  <div class="u-is-flex u-flex-center u-flex-column">
    <div class="u-is-flex u-flex-align-center-justify-space-between u-full-size u-has-margin-bottom-48">
      <div (click)="onSelectEtudes()" class="u-is-flex u-flex-center"
           [ngClass]="{'bubble-unselected': !this.isSelectedEtude, 'bubble-selected': this.isSelectedEtude}">
        études
      </div>
      <div (click)="onSelectDev()" class="bubble-selected u-is-flex u-flex-center"
           [ngClass]="{'bubble-unselected': !this.isSelectedDev, 'bubble-selected': this.isSelectedDev}">
        Dev
      </div>
      <div (click)="onSelectDoggoverse()" class="bubble-unselected u-is-flex u-flex-center"
           [ngClass]="{'bubble-unselected': !this.isSelectedDoggoverse, 'bubble-selected': this.isSelectedDoggoverse}">
        Doggoverse
      </div>
    </div>


    <div class="u-is-flex u-flex-center u-flex-column u-full-size u-max-width-400">

      @if (isSelectedDev) {

        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">Je suis <span class="u-txt-green">développeur</span> au sein d’une ESN au Luxembourg et, depuis <span class="u-txt-green">4 ans</span>, je suis en mission dans une <span class="u-txt-green">entreprise d’assurance</span>. Ce poste me permet de m’épanouir dans le <span class="u-txt-green">développement backend</span> et d’endosser également un rôle de <span class="u-txt-green">Tech Lead et coach craft</span>, consistant à accompagner les développeurs en partageant de bonnes pratiques, en ravivant leur envie et leur <span class="u-txt-green">passion pour la programmation</span>, et en cultivant le <span class="u-txt-green">goût du travail bien fait</span>.</span>
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">En parallèle de mon travail, je développe également <span class="u-txt-green">mes propres projets</span>. J’ai créé <span class="u-txt-green">plusieurs sites</span>, dont celui de <span class="u-txt-green">ma société (animalerie à Metz)</span>, ainsi que <span class="u-txt-green">mes propres API</span>. Ces expériences personnelles m’ont permis d’approfondir ma maîtrise de nombreuses technologies, notamment <span class = "u-txt-green">Rust</span> (avec <span class = "u-txt-green">Actix</span>), <span class = "u-txt-green">Scala</span> (<span class="u-txt-green">Play Framework</span> et <span class="u-txt-green">Spark</span>), <span class = "u-txt-green">PHP</span> (<span class = "u-txt-green">WordPress</span>), ainsi que des outils d’infrastructure comme <span class = "u-txt-green">k3s</span> et <span class = "u-txt-green">Nginx</span>.</span>
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">J’ai également acquis une solide expérience sur différentes bases de données et moteurs de recherche, tels que <span class="u-txt-green">MongoDB</span>, <span class="u-txt-green">Redis</span>, <span class="u-txt-green">Elasticsearch</span> et <span class="u-txt-green">DB2</span>, que j’utilise pour concevoir des solutions performantes et adaptées aux besoins.</span>
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">Au-delà de mes compétences techniques, j’occupe un rôle de <span class="u-txt-green">Tech Lead</span> et de <span class="u-txt-green">coach craft</span>. <span class="u-txt-green">J’accompagne</span> les développeurs dans leur progression, en <span class="u-txt-green">transmettant de bonnes pratiques</span> de programmation et en encourageant l’excellence technique. J’interviens également <span class="u-txt-green">dans le recrutement</span>, où j’évalue les candidats aussi bien sur leurs compétences que sur leur potentiel d’évolution, avec pour objectif de <span class="u-txt-green">constituer des équipes motivées, passionnées et performantes</span>.</span>
      } @else if (isSelectedEtude) {
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">J’ai commencé mes <span class="u-txt-green">études d’informatique</span> à la faculté de <span class="u-txt-green">Metz (UFR MIM)</span>, où j’ai obtenu ma <span class="u-txt-green">licence en 2019</span>, puis mon <span class="u-txt-green">master</span> en <span class="u-txt-green">Interactions Homme-Machine (IHM) en 2021</span> avec la <span class="u-txt-green">mention « très bien ».</span></span>
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">J’ai choisi cette formation et cette <span class="u-txt-green">spécialisation</span> car la <span class="u-txt-green">programmation</span> est une <span class="u-txt-green">passion</span> qui m’anime depuis la fin du collège, où j’ai codé mes premiers <span class="u-txt-green">sites web</span>, puis au lycée, où j’ai <span class="u-txt-green">développé</span> mes premiers <span class="u-txt-green">jeux vidéo</span>.</span>
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">J’ai également <span class="u-txt-green">suivi une formation en ligne</span> dédiée au <span class="u-txt-green">développement de jeux vidéo</span> pendant <span class="u-txt-green">1 an</span>. J’y ai appris à programmer des jeux entièrement en code <span class="u-txt-green">(Lua, C, C++, C#)</span> et participé à mes premières <span class="u-txt-green">compétitions de création de jeux en ligne</span>.</span>
      } @else if (isSelectedDoggoverse) {
        <span class="u-is-txt-20 u-txt-dark u-has-margin-bottom-16">En parallèle de mon parcours dans le développement, j’ai <span class="u-txt-green">cofondé avec ma compagne</span> un <span class="u-txt-green">concept store canin</span>, une <span class="u-txt-green">aventure entrepreneuriale</span> qui me permet de concilier mes compétences techniques avec une <span class="u-txt-green">autre</span> de mes grandes <span class="u-txt-green">passions</span> : <span class="u-txt-green">les animaux</span>.</span>
        <span class="u-is-txt-20 u-txt-dark">Aujourd’hui, je mets <span class="u-txt-green">mon énergie et ma créativité</span> au service de <span class="u-txt-green">deux univers</span> qui me tiennent à cœur : <span class="u-txt-green">le code et les chiens</span>.</span>
      }

    </div>
  </div>


</div>
