

<div
  class="u-is-flex u-flex-center u-full-size">

  <div>

    <div class="u-is-flex u-flex-align-center-justify-space-between u-full-size u-has-margin-bottom-48">

      <div (click)="onSelectEtudes()" class="u-is-flex u-flex-center" [ngClass]="{'bubble-unselected': !this.isSelectedEtude, 'bubble-selected': this.isSelectedEtude}">
        études
      </div>
      <div (click)="onSelectDev()" class="bubble-selected u-is-flex u-flex-center" [ngClass]="{'bubble-unselected': !this.isSelectedDev, 'bubble-selected': this.isSelectedDev}">
        Dev
      </div>

      <div (click)="onSelectDoggoverse()" class="bubble-unselected u-is-flex u-flex-center" [ngClass]="{'bubble-unselected': !this.isSelectedDoggoverse, 'bubble-selected': this.isSelectedDoggoverse}">
        Doggoverse
      </div>
    </div>



    <div class="u-is-flex u-flex-center u-flex-column u-full-size u-max-width-400">


<!-- TODO : mettre les bon texte pour chaque parties-->
      @if (isSelectedDev) {
        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">Je suis développeur full stack, diplômé d’un master en Interactions Homme-Machine, avec une forte appétence pour le back-end et l’architecture logicielle. Curieux et passionné, j’aime concevoir des solutions robustes et élégantes qui répondent réellement aux besoins des utilisateurs.</span>

        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">En parallèle de mon parcours dans le développement, j’ai cofondé avec ma compagne un concept store canin, une aventure entrepreneuriale qui me permet de concilier mes compétences techniques avec une autre de mes grandes passions : les animaux.</span>

        <span class="u-is-txt-20 u-txt-white">Aujourd’hui, je mets mon énergie et ma créativité au service de deux univers qui me tiennent à cœur : le code et les chiens.</span>
      } @else if (isSelectedEtude) {
        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">Je suis développeur full stack, diplômé d’un master en Interactions Homme-Machine, avec une forte appétence pour le back-end et l’architecture logicielle. Curieux et passionné, j’aime concevoir des solutions robustes et élégantes qui répondent réellement aux besoins des utilisateurs.</span>

        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">En parallèle de mon parcours dans le développement, j’ai cofondé avec ma compagne un concept store canin, une aventure entrepreneuriale qui me permet de concilier mes compétences techniques avec une autre de mes grandes passions : les animaux.</span>

        <span class="u-is-txt-20 u-txt-white">Aujourd’hui, je mets mon énergie et ma créativité au service de deux univers qui me tiennent à cœur : le code et les chiens.</span>
      } @else if (isSelectedDoggoverse) {
        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">Je suis développeur full stack, diplômé d’un master en Interactions Homme-Machine, avec une forte appétence pour le back-end et l’architecture logicielle. Curieux et passionné, j’aime concevoir des solutions robustes et élégantes qui répondent réellement aux besoins des utilisateurs.</span>

        <span class="u-is-txt-20 u-txt-white u-has-margin-bottom-16">En parallèle de mon parcours dans le développement, j’ai cofondé avec ma compagne un concept store canin, une aventure entrepreneuriale qui me permet de concilier mes compétences techniques avec une autre de mes grandes passions : les animaux.</span>

        <span class="u-is-txt-20 u-txt-white">Aujourd’hui, je mets mon énergie et ma créativité au service de deux univers qui me tiennent à cœur : le code et les chiens.</span>
      }



    </div>
  </div>


</div>
