<div>

  <div style="background-color: red; height: 100%; position: fixed; width: 200px; z-index: -1">
    <div >
      <!--    TODO : download link-->
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
      télécharger mon cv <a routerLink="/cv">ici</a>
    </div>
  </div>

  <div style="margin-left: 200px; display: flex; flex-direction: column;">
    <h1>Mon CV</h1>

    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
    <span>TODO : afficher la vue minimaliste de mon cv</span>
  </div>

</div>
