<div>

  <div style="position: fixed; width: 200px;height: 100%;">
    <div style="background-color: #AEEA00; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;"></div>
    <div style="display: flex; align-items: center; justify-content: center; height: 100%; position: relative; z-index: 1;">

      <!--    TODO : download link-->
      <span style="color: #FAFAFA;">télécharger mon cv <a class="paq-cursor-hover u-txt-white" routerLink="/cv">ici</a></span>
    </div>
  </div>


  <div style="display: flex;justify-content: center; align-items: center;">
    <div style="margin-left: 200px; display: flex; flex-direction: column;">
      <h1 style="margin-left: 48px">Mon CV</h1>

      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
      <span>TODO : afficher la vue minimaliste de mon cv</span>
    </div>
  </div>



</div>
