<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
  <div style="max-width: 800px;">

    <div style="display: flex; flex: 1; flex-direction: column; height: 100%; justify-content: center; align-items: center; text-align: center">
      <div style="height: 100%; width: 100%">Bienvenue sur mon portfolio, découvrez mes projets et mon parcours ici</div>
    </div>


<!--    <div>-->
<!--      <h2>Qui suis-je ?</h2>-->
<!--      <span>Je suis développeur full stack diplomé d'un master en IHM, en ayant une très forte appétence back. J'ai également monté une entreprise avec ma compagne, un concept store canin. J'ai réussi a travailler autour de mes passions, qui sont le développement, l'architecture logiciel, et les animaux</span>-->
<!--    </div>-->
  </div>
</div>


