/* You can add global styles to this file, and also import other style files */
@use "styles/utilities";

html,
body {
  height: 100%;
  margin: 0;
}

a.paq-cursor-hover {
  text-decoration: none;

  &:hover {
    color: blue;
    cursor: pointer;
  }
}
