/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  background-color: blanchedalmond;
}

.u-txt-white {
  color: #fff;
}

a.paq-cursor-hover {
  text-decoration: none;

  &:hover {
    color: blue;
    cursor: pointer;
  }
}
